h2:hover{
    color: gray;
}
a:link {
    color: white;
    text-decoration: none;
    line-height: 20px;
}
a:visited{
    color: white;
}
a:hover{
    color:rgb(53, 45, 45);
}

body{
    position: relative;
}

header{
    background-image: url("../slike/57/maybach57_h.jpg");
    background-position:5% 60% ;
    text-align:center;
    height:220px;
    margin: none;
}

header ul{
    list-style: none;
    font-size: 25px;
    font-style: bold;
    display: flex;
    flex-direction: row;
    justify-content: right;

}

header h1{
    color: white;
    text-align: left;
    font-size:50px;
    padding-left: 40px;
    
}

footer{
    height:140px;
    background-image: url("../slike/57/maybach57_h.jpg");
    background-position:10% 85% ;
    color: white;
    font-size: 25px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    height:100px;
    
   
}

#deo1{
    display: flex;
    flex-direction: column;
    margin: auto;
    
}
#tekst1{
    display: flex;
    justify-content: center;
    padding: 50px;
    font-size: 16pt;
    text-align: justify;
    flex-direction: column;
    line-height: 25x;

}
#slika11{
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:55%;
    width:55%;

}
#slika12{
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:55%;
    width:55%;

}

#deo2{
    display: flex;
    flex-direction: column;
    margin: auto;
    
}
#tekst2{
    display: flex;
    justify-content: center;
    padding: 50px;
    font-size: 16pt;
    text-align: justify;
    flex-direction: column;
    line-height: 25x;


}
#slika21{
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:55%;
    width:55%;

}
#slika22{
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:55%;
    width:55%;

}

.kontejner{
    margin-left: 200px;
    margin-right: 200px;
    justify-content: center;
}

/******************************************************************************************************/
/******************************************************************************************************/

/*  MOBILNI TELEFON  */

@media only screen and (max-width: 440px){

 
    body{
        position: relative;
    }

    header{
        background-image: url("../slike/57/maybach57_h.jpg");
        background-position: 15% 25%;
        text-align:left;
        margin: none;
        height: auto;
        width: auto;
        padding: 5px;
        display: flex;
        justify-content: center;
        min-width: 420px;
    }

    header ul{
        list-style: none;
        font-size: 10px;
        font-style: bold;
        display: flex;
        flex-direction: column; 
        justify-content: center;
        text-align: center;
    }

    header h1{

        color: white;
        text-align: left;
        max-width: 320px;
        font-size: 20px;
        
    }

    footer{
        background-image: url("../slike/57/maybach57_h.jpg");
        background-position:10% 25% ;
        color: white;
        height: auto;
        font-size: 25px;
        padding: 5px;
        margin:none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 370px;

    }
    
    #deo1{
        display: flex;
        flex-direction: column;
        margin: auto;

        
    }
    #tekst1{
        display: flex;
        justify-content: left;
        padding: 15px;
        font-size: 16px;
        text-align: justify;
        flex-direction: column;
        line-height: 25px;
    
    }
    #slika11{
        margin: auto;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height:100%;
        width:100%;
    
    }
    #slika12{
        margin: auto;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height:100%;
        width:100%;
    
    }
    
    #deo2{
        display: flex;
        flex-direction: column;
        margin: auto;
        
    }
    #tekst2{
        display: flex;
        justify-content: center;
        padding:15px;
        font-size: 16px;
        text-align: justify;
        flex-direction: column;
        line-height: 25px;
    
    
    }
    #slika21{
        margin: auto;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height:100%;
        width:100%;;
    
    }
    #slika22{
        margin: auto;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height:100%;
        width:100%;
    
    }

    
    

}

/******************************************************************************************************/
/******************************************************************************************************/

/*  TABLET  */

@media only screen and (max-width: 1300px){
    
    body{
        position: relative;
    }

    header{
        background-image: url("../slike/57/maybach57_h.jpg");
        background-position: 25% 25%;
        text-align:center;
        margin: none;
        padding: 5px;
        display: flex;
        justify-content: center;
        padding-bottom: 50px;

    }

    header ul{
        list-style: none;
        font-size: 25px;
        font-style: bold;
        display: flex;
        flex-direction: column; 
        justify-content: center;
        text-align: center;
    }

    header h1{

        color: white;
        text-align: left;
        min-width: 320px;
        font-size:40px;
        
    }

    footer{
        background-image: url("../slike/57/maybach57_h.jpg");
        background-position:10% 25% ;
        color: white;
        height: auto;
        font-size: 25px;
        padding: 5px;
        margin:none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 400px;
        height: 100px;

    }
    
    #deo1{
        display: flex;
        flex-direction: column;
        margin: auto;

        
    }
    #tekst1{
        display: flex;
        justify-content: left;
        padding: 5px;
        font-size: 16pt;
        text-align: justify;
        flex-direction: column;
        line-height: 25px;
        height: auto;
    
    }
    #slika11{
        margin: auto;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height:100%;
        width:100%;
    
    }
    #slika12{
        margin: auto;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height:100%;
        width:100%;
    
    }
    
    #deo2{
        display: flex;
        flex-direction: column;
        margin: auto;
        
    }
    #tekst2{
        display: flex;
        justify-content: center;
        padding: 5px;
        font-size: 16pt;
        text-align: justify;
        flex-direction: column;
        line-height: 25x;
    
    
    }
    #slika21{
        margin: auto;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height:100%;
        width:100%;;
    
    }
    #slika22{
        margin: auto;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height:100%;
        width:100%;
    
    }

    .kontejner{
        margin-left: 15px;
        margin-right: 15px;
        justify-content: center;
    }
    
    
}